/* RESET CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

mark {
    background-color: transparent;
    color: inherit;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input, select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    font-family: Rubik;
    color: #2D253D;
    box-sizing: inherit;
}

/***  BODY  ***/
body{
    background: url(../images/body-bg.png) no-repeat center;
}

/***  CONTAINER  ***/
.container {
    display: block;
    width: 100%;
}

/***  HEADER  ***/
/* logo */
header.header {
    position: absolute;
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 7%;

}

header.header.fixed{   
    position: fixed;
    z-index: 100;
    top: -70px;
    left: 0;
    right: 0;
    background: #ffffff;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px -7px 10px 0px #212121;
}

header.header .logo {
    display: inline-block;
    width: 110px;
    height: 60px;
    padding: 5px 0px 0px 0px;
}

header.header .logo img {
    display: block;
    width: 100%;
    height: auto;
}

/* navbar */
header.header nav.navbar {
    display: inline-block;
    height: 100%;
    float: right;
}

header.header nav.navbar ul {
    width: 100%;
    height: 100%;
}

header.header nav.navbar ul li {
    display: inline-block;
    line-height: 4;
    margin-right: 35px;
}

header.header nav.navbar ul li:last-child {
    margin-right: 0px;
}

header.header nav.navbar li a {
    font: 500 15px "Rubik", sans-serif;
    text-decoration: none;
    font-weight: 700;
    transition: color 250ms ease forwards;
    -webkit-transition: color 250ms ease forwards;
}

header.header nav.navbar li a:hover {
    color: #125C4B;
}

header.header nav.navbar li a.current {
    color: #007147
}

header.header nav.navbar li a.current:after {
    display: block;
    content: "";
    width: 120%;
    height: 3px;
    background: #007147;
    border-radius: 3px;
    position: relative;
    top: -20px;
    right: 10%;
}

/***  BANNER & INTRO ***/
section.banner, 
section.intro {
    display: block;
    padding: 190px 7% 120px 7%;
}

section.intro {
    padding-top: 50px;
}

section.banner .title, 
section.intro .introduction {
    display: inline-block;
}

section.banner .title h3 {
    display: block;
    position: relative;
    font-size: 40px;
}

section.banner .title h3:after {
    display: block;
    content: "";
    width: 420px;
    height: 3px;
    background: #2D253D;
    float: right;
    position: relative;
    top: 20px;
}

section.banner .title h1 {
    display: block;
    position: relative;
    font-size: 75px;
    font-weight: 700;
    margin: 30px 0;
}

section.banner .title p {
    display: block;
    position: relative;
    font-size: 30px;
    margin: 35px 0;
}

section.banner .title button, 
section.intro .introduction button {
    display: inline-block;
    width: 130px;
    height: 45px;
    background: linear-gradient(90deg, #119955, #125C4B);
    border: 0px solid #125C4B;
    border-radius: 3px;
    color: #E0E0E0;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 8px 12px -8px #125C4B;
    transition: all 150ms ease;
}

section.banner .title button:first-child, 
section.intro .introduction button:first-child {
    margin-right: 25px;
}

section.banner .title button:hover, 
section.intro .introduction button:hover {
    color: #125C4B;
    background: #E0E0E0;
    box-shadow: 0px 0px 0px 0px #125C4B;
}

section.banner .image,
section.intro .image {
    display: inline-block;
    float: right;
    width: 50%;
    padding: 0 5%;
}

section.intro .image{
    float: none;
}

section.banner .image img,
section.intro .image img {
    display: block;
    width: 100%;
}

section.intro .introduction{
    display: inline-block;
    float: right;
    width: 50%;
    padding: 0 5%;
}

section.intro .introduction h3{
    font-size: 35px;
    font-weight: 700;
    margin: 35px 0;
}

section.intro .introduction p{
    font-family: "Source sans pro";
    font-size: 16px;
    text-indent: 15px;
    line-height: 1.7;
    margin-bottom: 45px;
    color: #777777;
}
