/* COLORS */
:root {
    --white: #ffffff;
    --black: #000000;
    --light: #E0E0E0;
    --dark: #212121;
    --text-color: #2D253D;
    --red: #b73f3f;
    --green: #119955;
}

/* FONTS */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal
}

/* RESET CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

mark {
    background-color: transparent;
    color: inherit;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input, select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

html, body {
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/***  SELECTION  ***/
*::selection {
    background-color: #008448cc;
    color: var(--white);
}

/***  BODY  ***/
body {
    background: url(../images/body-bg.png) no-repeat center;
}

/***  CONTAINER  ***/
.container {
    display: block;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
}

/***  HEADER  ***/
/* logo */
header.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0px 7%;
    z-index: 99;
}

header.header.fixed {
    position: fixed;
    z-index: 100;
    top: -70px;
    left: 0;
    right: 0;
    background: var(--white);
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px -7px 10px 0px var(--dark);
}

header.header .logo {
    display: inline-block;
    width: 110px;
    height: 60px;
    padding: 5px 0px 0px 0px;
}

header.header .logo img {
    display: block;
    width: 100%;
    height: auto;
}

/* navbar */
header.header nav.navbar {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left:  auto;
}

header.header nav.navbar ul {
    display: flex;
    width: 100%;
    height: 100%;
}

header.header nav.navbar ul li {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 4;
    margin-right: 35px;
}

header.header nav.navbar ul li:last-child {
    margin-right: 0px;
}

header.header nav.navbar li a {
    font: 500 15px "Rubik", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    transition: color 250ms ease;
    -webkit-transition: color 250ms ease;
}

header.header nav.navbar li a:hover {
    color: var(--green);
}

header.header nav.navbar li a.current {
    color: var(--green);
}

header.header nav.navbar li a.current:after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: var(--green);
    border-radius: 3px;
    position: relative;
    top: 0px;
    right: 0;
}

/***  BANNER & INTRO ***/
section.banner, section.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7%;
}

section.intro {
    padding-top: 50px;
}

section.banner .title, section.intro .introduction {
    display: inline-block;
    width: 50%;
    padding: 25px;
}

section.banner .title h3 {
    display: block;
    position: relative;
    font-size: 40px;
}


section.banner .title h1 {
    display: block;
    position: relative;
    font-size: 75px;
    font-weight: 700;
    margin: 30px 0;
}

section.banner .title p {
    display: block;
    position: relative;
    font-size: 30px;
    margin: 35px 0;
}

section.banner .title button, section.intro .introduction button {
    display: inline-block;
    width: 130px;
    height: 45px;
    background-image: linear-gradient(90deg, var(--green), #125C4B);
    border: 1px solid transparent;
    border-radius: 3px;
    color: var(--light);
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    cursor: pointer;
    opacity: 0.85;
    box-shadow: 0px 14px 14px -12px #125C4B;
    transition: all 200ms ease;
}

section.banner .title button:first-child, section.intro .introduction button:first-child {
    margin-right: 25px;
}

section.banner .title button:hover, section.intro .introduction button:hover {
    box-shadow: 0px 0px 0px 0px #125C4B;
    opacity: 1;
}

section.banner .image, section.intro .image {
    display: flex;
    height: 100%;
    width: 50%;
    padding: 5%;
}

section.intro .image {
    float: none;
}

section.banner .image img, section.intro .image img {
    display: block;
    width: 100%;
}

section.intro .introduction {
    display: inline-block;
    float: right;
    width: 50%;
    padding: 0 5%;
}

section.intro .introduction h3 {
    font-size: 35px;
    font-weight: 700;
    margin: 35px 0;
}

section.intro .introduction p {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    text-indent: 15px;
    line-height: 1.5;
    margin-bottom: 45px;
    color: #777777;
}

/***  SERVICES & CLIENTS  ***/
section.services, section.clients {
    display: block;
    width: 100%;
    padding: 70px 7% 120px 7%;
    overflow: hidden;
}

section.services .head, section.clients .head {
    display: block;
    text-align: left;
}

section.services .head h3, section.clients .head h3 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

section.services .head p, section.clients .head p {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 45px;
    color: #777777;
}

section.services .service, section.clients .client {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    padding: 25px 35px;
    box-shadow: 0px 0px 4px -1px #008448;
    border-radius: 3px;
    cursor: col-resize;
    transition: box-shadow 250ms ease;
}

section.services .service {
    flex-direction: column;
}

section.services .service:hover, section.clients .client:hover {
    box-shadow: 0px 0px 1px 0px #008448;
}

section.services .service .service-image, section.clients .client .client-image {
    display: inline-block;
    width: 100%;
    max-height: 150px;
}

section.services .service .service-image img, section.clients .client .client-image img {
    display: block;
    width: 100%;
    max-height: 100px;
}

section.services .service .service-discription, section.clients .client .client-review {
    display: inline-block;
    width: 100%;
}

section.services .service .service-discription h4, section.clients .client .client-review h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px 0 15px 0;
}

section.services .service .service-discription p, section.clients .client .client-review p {
    color: #828282;
    text-align: center;
    font-size: 16px;
    line-height: 1.4
}

section.services .owl-carousel .owl-stage-outer, section.clients .owl-carousel .owl-stage-outer {
    overflow: visible;
    position: relative;
}

section.services .owl-carousel .owl-nav, section.clients .owl-carousel .owl-nav {
    display: block;
    position: absolute;
    top: -60px;
    right: 0px
}

section.services .owl-carousel .owl-nav .owl-next, section.clients .owl-carousel .owl-nav .owl-next {
    display: inline-block;
    font-size: 45px;
    color: #008448;
}

section.services .owl-carousel .owl-nav .owl-prev, section.clients .owl-carousel .owl-nav .owl-prev {
    display: none;
}

section.services .owl-carousel .owl-dots, section.clients .owl-carousel .owl-dots {
    display: block;
    height: 15px;
    margin-top: 25px;
    text-align: center;
}

section.services .owl-carousel .owl-dots .owl-dot, section.clients .owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-right: 7px;
    margin-left: 7px;
    background: #cccccc;
}

section.services .owl-carousel .owl-dots .owl-dot.active, section.clients .owl-carousel .owl-dots .owl-dot.active {
    background: #008448;
    animation: _width 200ms ease forwards running;
}

@keyframes _width {
    0% {
        width: 15px
    }

    100% {
        width: 35px
    }
}

/* clients */
section.clients {
    padding: 70px 7% 70px 7%;
}

section.clients .client {
    background: #FFFFFF00;
}

section.clients .head {
    display: block;
    text-align: right;
}

section.clients .owl-carousel .owl-nav {
    display: block;
    position: absolute;
    top: -60px;
    left: 0px;
}

section.clients .owl-carousel .owl-nav .owl-next {
    display: none;
}

section.clients .owl-carousel .owl-nav .owl-prev {
    display: inline-block;
    font-size: 45px;
    color: #008448;
}

section.clients .client .client-image {
    width: 20%;
    height: 100%;
    max-height: 100%;
}

section.clients .client .client-image img {
    height: 100%;
    max-height: 100%;
    border-radius: 4px;
}

section.clients .client .client-review {
    display: inline-block;
    width: 70%;
    text-align: left;
}

section.clients .client .client-review h4 {
    text-align: left;
    padding: 0px 0 15px 0;
}

section.clients .client .client-review p {
    text-align: left;
}

/***  FOOTER  ***/
footer.footer {
    display: block;
    width: 100%;
    padding: 50px 7% 50px 7%;
    overflow: hidden;
    text-align: center;
    background: #2D253D
}

footer.footer .logo {
    display: block;
    height: 100px;
    overflow: hidden;
}

footer.footer .logo img {
    height: 100%
}

footer.footer h3 {
    display: block;
    position: relative;
    color: #DCDCDC;
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0 35px 0;
}

footer.footer ul {
    margin: 20px 0;
}

footer.footer ul li {
    display: inline-block;
    margin: 0 10px;
}

footer.footer ul li a {
    display: block;
    width: 38px;
    height: 38px;
    font-size: 24px;
    color: var(--light);
    line-height: 1.7;
    transition: color 150ms ease-out;
}

footer.footer ul li a:hover {
    color: #008448
}

footer.footer p {
    color: #DCDCDC;
    line-height: 1.75;
}

footer.footer p .year, footer.footer p i.fa {
    color: #008448;
    font-weight: 700;
}

footer.footer p a {
    color: #008448;
    text-decoration: none;
    font-weight: 700;
    transition: color 150ms ease-out;
}

footer.footer p a:hover {
    color: var(--light)
}

/* facts */
section.facts {
    display: block;
    width: 100%;
    padding: 50px 7% 40px 7%;
    overflow: hidden;
    position: relative;
}

section.facts:after {
    display: block;
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0%;
    background: linear-gradient(90deg, #125C4B, var(--green), #125C4B, var(--green));
    z-index: -1;
    animation: sliding 20000ms ease-out infinite running;
}

@keyframes sliding {
    0% {
        right: 0%
    }

    50% {
        right: -50%
    }

    100% {
        right: -100%
    }
}

section.facts .head {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--white);
}

section.facts .the-facts {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
}

section.facts .the-facts .fact {
    display: inline-block;
    position: relative;
    padding: 20px 40px;
    background: var(--white);
    margin: 20px;
    border-radius: 3px;
}

section.facts .the-facts .fact h4 {
    font-size: 45px;
    font-weight: 700;
}

section.facts .the-facts .fact p {
    font-size: 17px;
    color: #333333;
    margin: 15px 0px 0px 0px;
}

/****** ABOUT PAGE ******/
section.about_banner, section.services_banner {
    display: block;
    width: 100%;
    min-height: 500px;
    position: relative;
}

section.about_banner div.content, section.services_banner div.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
    padding: 140px 7%;
    z-index: 2;
    background: #ffffff24;
    text-align: center;
}

section.about_banner div.content .background, section.services_banner div.content .background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 50px 10%;
    text-align: center;
    z-index: -1;
    overflow: hidden;
}

section.about_banner div.content .background img, section.services_banner div.content .background img {
    display: block;
    width: 100%;
    height: 100%;
}

section.about_banner div h1, section.services_banner div h1 {
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 20px;
}

section.about_banner div p a, section.services_banner div p a {
    font: 500 21px "Rubik", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
}

section.about_banner div p a:hover, section.services_banner div p a:hover {
    color: var(--green);
}

section.about_banner div p .fa, section.services_banner div p .fa {
    margin: 0 10px;
    position: relative;
    top: -1px;
}

/* who am I*/
section.whoami {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 7%;
}

section.whoami .title {
    display: block;
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

section.whoami .title h1 {
    font-size: 55px;
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase
}

section.whoami .infos {
    display: flex;
    align-items: center;
    margin: 35px 0;
}

section.whoami div.content {
    width: calc(100% - 350px);
}

section.whoami div.content h1 {
    font-size: 45px;
    color: #007940;
    font-weight: 700;
    text-transform: uppercase;
}

section.whoami div.content h5 {
    display: inline-block;
    font-size: 17px;
    color: #007940;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
    border-bottom: 2px dotted
}

section.whoami div.content p {
    color: #212121aa;
    font-size: 19px;
    text-indent: 25px;
    line-height: 1.5;
    padding: 20px 0;
}

section.whoami div.img {
    display: block;
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin-left: 50px;
}

section.whoami div.img img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 4px -1px var(--text-color);
}

/*** Qualifications  ***/
section.qualifications, section.testimonials, section.skills {
    display: block;
    width: 100%;
    padding: 60px 7%;
}

section.qualifications .head, section.testimonials .head, section.skills .head {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 70px
}

section.qualifications .head h1, section.testimonials .head h3, section.skills .head h3 {
    font-size: 55px;
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px
}

section.qualifications .head p, section.testimonials .head p, section.skills .head p {
    font-size: 17px;
    color: var(--dark);
    line-height: 1.5
}

.qualifications ul li {
    background: #dddde0;
    position: relative;
    margin: 0 auto;
    width: 2px;
    padding-bottom: 40px;
    list-style-type: none;
}

.qualifications ul li:last-child {
    padding-bottom: 7px;
}

.qualifications ul li:before {
    content: '';
    background: #007940;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #eee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.qualifications ul li .hidden {
    opacity: 0;
}

.qualifications ul li .content {
    background-color: var(--white) !important;
    box-shadow: 0px 0px 8px -4px var(--text-color);
    position: relative;
    border-radius: 3px;
    top: 7px;
    width: 360px;
    padding: 30px;
    opacity: 0;
}

.qualifications ul li .content h4 {
    padding-bottom: 10px;
    font-weight: 700;
    text-decoration: underline;
    color: var(--text-color);
}

.qualifications ul li .content p {
    line-height: 1.2;
    font-size: 16px;
    margin-bottom: 5px;
}

.qualifications ul li .content p b {
    color: #007940;
    font-weight: 700;
}

.qualifications ul li:nth-child(odd) .content {
    left: 50px;
    text-align: left
}

.qualifications ul li:nth-child(odd) .content:before {
    left: -38px
}

.qualifications ul li:nth-child(even) .content {
    left: calc(-360px - 45px);
    text-align: right
}

.qualifications ul li:nth-child(even) .content:before {
    right: -38px
}

/* skills */
section.skills .tools_expert {
    width: 80%;
    margin: 0 auto
}

section.skills .tools_expert .skill_main .skill_item {
    margin-bottom: 18px;
}

section.skills .tools_expert .skill_main .skill_item:last-child {
    margin-bottom: 0px;
}

section.skills .tools_expert .skill_main .skill_item h4 {
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 15px;
}

.tools_expert .skill_main .skill_item .progress {
    height: 15px;
    border-radius: 7px;
    background: transparent;
    border: 1px solid #eeeeee;
    box-shadow: 0px 2px 1px -2px rgb(94, 94, 95);
}

section.skills .tools_expert .skill_main .skill_item .progress .progress-bar {
    width: 0%;
    transition: width .6s ease;
    height: 14px;
    border-radius: 7px;
    vertical-align: middle;
    align-self: center;
    background-image: -moz-linear-gradient(0deg, #125C4B 0%, var(--green) 100%);
    background-image: -webkit-linear-gradient(0deg, #125C4B 0%, var(--green) 100%);
    background-image: -ms-linear-gradient(0deg, #125C4B 0%, var(--green) 100%);
}

/* testimonials */
section.testimonials .owl-carousel .owl-nav {
    display: block;
    width: 130px;
    position: absolute;
    top: 57px;
    left: -80px;
    transform: rotate(90deg)
}

section.testimonials .owl-carousel .owl-nav .owl-prev, section.testimonials .owl-carousel .owl-nav .owl-next {
    display: inline-block;
    font-size: 35px;
    padding: 5px 8px;
    color: #008448;
    margin-left: 10px;
    background: var(--white);
    border-radius: 2px;
    border: 1px solid #0084485c;
}

section.testimonials .owl-carousel .owl-nav .owl-prev {
    margin-left: 0px;
    margin-right: 10px;
}

/** services **/
section.offers, section.services-testimonials {
    display: block;
    width: 100%;
    padding: 60px 7%;
}

section.offers div.title, section.services-testimonials div.title {
    display: block;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 25px 0;
}

section.offers .title h1, section.services-testimonials .title h1 {
    font-size: 55px;
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase
}

section.offers div.title p, section.services-testimonials .title p {
    color: #212121aa;
    font-size: 19px;
    text-indent: 25px;
    line-height: 1.5;
    padding: 20px 0;
}

section.offers .services {
    display: block;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

section.offers .services .service {
    display: block;
    background: var(--white);
    padding: 25px 35px;
    box-shadow: 0px 0px 1px 0px #008448;
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow 250ms ease;
    width: 48%;
    float: left;
    margin-top: 50px;
}

section.offers .services .service:nth-child(odd) {
    margin-right: 2%;
}

section.offers .services .service:nth-child(even) {
    margin-left: 2%;
}

section.offers .services .service:hover {
    box-shadow: 0px 0px 7px -1px #008448;
}

section.offers .services .service .service-image {
    display: inline-block;
    width: 100%;
    height: 250px;
    padding: 20px;
}

section.offers .services .service .service-image img {
    display: block;
    width: 100%;
    height: 100%;
}

section.offers.services .service .service-discription {
    display: inline-block;
    width: 100%;
}

section.offers .services .service .service-discription h4 {
    text-align: center;
    font-size: 37px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px 0 15px 0;
}

section.offers .services .service .service-discription p {
    color: #5f5d5d;
    text-align: center;
    font-size: 18px;
    line-height: 1.4
}

section.services-testimonials .content {
    text-align: center;
    margin: 30px 0;
}

section.services-testimonials .testimonial .image {
    display: inline-block;
    width: 220px;
    height: 220px;
    padding: 5px;
    border-radius: 100%;
    border: 4px solid var(--text-color);
}

section.services-testimonials .testimonial .image img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

section.services-testimonials .testimonial .review {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 30px 30px 10px 30px;
}

section.services-testimonials .testimonial .review .quote {
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
    top: -20px;
    left: 70px;
}

section.services-testimonials .testimonial .review p {
    text-indent: 70px;
    color: #5f5d5d;
    text-align: center;
    font-size: 18px;
    line-height: 1.4
}

section.services-testimonials .testimonial .review h4 {
    text-align: center;
    font-size: 37px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 50px 0 0 0;
}

section.services-testimonials .testimonial ul.starts {
    display: block;
}

section.services-testimonials .testimonial ul.starts li {
    display: inline-block;
    margin: 0 5px;
}

section.services-testimonials .testimonial ul.starts li i {
    color: #bbbb1f;
    font-size: 21px;
}

section.services-testimonials .owl-next, section.services-testimonials .owl-prev {
    font-size: 50px;
    transition: all 250ms ease;
    position: relative;
    top: -100px;
}

section.services-testimonials .owl-next:hover, section.services-testimonials .owl-prev:hover {
    color: #008448;
}

section.services-testimonials .owl-next {
    float: right;
}

section.services-testimonials .owl-prev {
    float: left;
}

/**  portfolio  **/
section.portfolio {
    display: block;
    width: 100%;
    padding: 60px 7%;
}

section.portfolio div.title, section.portfolio .content {
    display: block;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 25px 0;
}

section.portfolio .content {
    width: 85%;
    padding-bottom: 120px;
}

section.portfolio .title h1 {
    font-size: 55px;
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase
}

section.portfolio div.title p {
    color: #212121aa;
    font-size: 19px;
    text-indent: 25px;
    line-height: 1.5;
    padding: 20px 0;
    padding-bottom: 60px
}

section.portfolio .content .portfolio-filter {
    display: block;
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 50px;
}

section.portfolio .content .portfolio-filter ul {
    display: block;
    width: 100%;
    height: 60px;
    padding: 20px 0;
}

section.portfolio .content .portfolio-filter ul li {
    display: block;
    position: relative;
    height: 100%;
    float: left;
    font-size: 18px;
    padding: 0 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 250ms ease;
}

section.portfolio .content .portfolio-filter ul li:hover {
    color: #008448
}

section.portfolio .content .portfolio-filter ul li.active {
    font-weight: 700;
}

section.portfolio .content .filters-content {
    text-align: center;
    overflow: hidden;
}

section.portfolio .content .filters-content .all {
    padding: 0 40px;
    border-radius: 3px;
}

section.portfolio .content .portfolio-image {
    position: relative;
    cursor: pointer;
}

.single-portfolio {
    position: relative;
    padding-bottom: 10%
}

section.portfolio .content .filters-content .info {
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90%;
    width: 100%;
    background: #297e4a;
    opacity: 0;
    border-radius: 5px;
    transition: all 450ms ease;
    text-align: left;
}

section.portfolio .content .filters-content .info:hover {
    top: 25px;
    left: 25px;
    opacity: .9;
}

section.portfolio .content .filters-content .info h4 {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

section.portfolio .content .filters-content .info p {
    margin: 5px 0 10px 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

section.portfolio .content .filters-content .info a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--light);
    font-size: 14px;
    font-weight: 700;
    width: auto;
}

section.portfolio .content .filters-content .info .content {
    text-align: left;
    position: relative;
    top: 55%;
    left: 90px;
    opacity: 0;
    transition: all 450ms ease;
}

section.portfolio .content .filters-content .info:hover .content {
    top: 65%;
    left: 40px;
    opacity: 1;
}

section.brands {
    display: block;
    width: 90%;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 100px;
    clear: both;
}

section.brands ul {
    display: block;
    width: 100%;
    position: relative;
}

section.brands ul li {
    display: inline-block;
    position: relative;
    width: 20%;
    margin: 0;
    padding: 0;
    float: left;
}

section.details {
}

/**  portfolio details  **/
section.portfolio-details {
    display: block;
    width: 100%;
    padding: 0px 7%;
}

section.portfolio-details div.title, section.portfolio-details .content {
    display: block;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 25px 0;
}

section.portfolio-details .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: relative;
}

section.portfolio-details .title h1 {
    font-size: 55px;
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase
}

section.portfolio-details .title p {
    color: #212121aa;
    font-size: 19px;
    text-indent: 25px;
    line-height: 1.5;
    padding: 20px 0;
}

section.portfolio-details .content .project-image {
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
}

section.portfolio-details .content .project-image img {
    display: block;
    width: 100%;
    height: 100%;
}

section.portfolio-details .content .description {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

section.portfolio-details .content .description .details {
    display: block;
    width: 100%;
    text-align: justify;
    text-indent: 50px;
    font-size: 18px;
    line-height: 1.3;
    color: var(--text-color);
    float: left;
    padding: 0 20px;
    margin-bottom: 100px;
}

section.portfolio-details .content .description .infos {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    line-height: 1.3;
    padding: 20px;
    text-align: left;
}

section.portfolio-details .content .description .infos h3 {
    font-size: 20px;
    color: var(--green);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}

section.portfolio-details .content .description .infos p {
    font-size: 15px;
    text-indent: 35px;
}

section.portfolio-details .content .description .infos ul.table {
   display: flex;
   justify-content: space-between;
   margin: 15px 0;
}

section.portfolio-details .content .description .infos ul.table > li {
    display: inline-block;
    line-height: 1.9;
    float: left;
    text-align: center;
}

section.portfolio-details .content .description .infos ul.table li .title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #297e4a
}

section.portfolio-details .content .description .infos ul.table li ul.starts {
    display: inline-block;
}

section.portfolio-details .content .description .infos ul.table li ul.starts li {
    display: inline-block;
}

section.portfolio-details .content .description .infos ul.table li ul.starts li i {
    color: #bbbb1f;
    font-size: 15px;
}

section.portfolio-details .content .description .infos ul.table li .info {
    font-size: 17px;
    color: #333;
}

/* contanct */
section.map, 
section.email-us {
    display: flex;
    flex-direction: column;
    width: 100%;
    clear: both;
    margin: 50px 0;
    padding: 0 7%;
}

section.map div.title, 
section.map .content, 
section.email-us div.title, s
ection.email-us .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 25px 0;
}

section.map .content, 
section.email-us .content {
    max-width: 780px;
    margin: 0 auto;
}

section.map .title h1 , section.email-us .title h1 {
    font-size: 55px;
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase
}

section.map .title p , section.email-us .title p {
    color: #212121aa;
    font-size: 19px;
    text-indent: 25px;
    line-height: 1.5;
    padding: 20px 0;
    text-align: center;
}

section.email-us .content .infos {
    display: block;
    float: left;
    width: 30%;
    text-align: left;
}

section.email-us .content .infos li {
    line-height: 1.9;
}

section.email-us .content .infos .icon {
    font-size: 20px;
    margin-right: 5px;
}

section.email-us .content .infos .info {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 700;
}

section.email-us .content .infos .info i {
    display: block;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 700;
    color: #6b6a6a;
    margin-left: 30px;
    position: relative;
    top: -10px;
}

section.email-us .form {
    display: block;
    width: 70%;
    float: right;
    padding-left: 25px;
    text-align: right;
    position: relative;
    overflow: hidden;
}

section.email-us .form button {
    display: inline-block;
    width: 230px;
    height: 40px;
    background: linear-gradient(90deg, var(--green), #125C4B);
    border: 0px solid #125C4B;
    border-radius: 3px;
    color: var(--light);
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 8px 14px -8px #125C4B;
    transition: all 100ms linear;
}

section.email-us .form button:hover {
    box-shadow: 0px 0px 0px 0px #125C4B;
}

section.email-us .form input, section.email-us .form textarea {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 2px solid #125C4B;
    border-radius: 3px;
    color: var(--dark);
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-indent: 15px;
    transition: all 100ms linear;
}

section.email-us .form textarea {
    min-height: 150px;
    max-width: 100%;
    min-width: 100%;
    padding-top: 10px;
}

section.email-us .form textarea:hover, section.email-us .form textarea:focus, section.email-us .form input:hover, section.email-us .form input:focus {
    border: 2px solid var(--text-color);
}

section.email-us .form .alert {
    display: inline-block;
    margin: 10px 0;
    border-radius: 2px;
    border: 1px solid var(--text-color);
    font-size: 13px;
    position: relative;
    left: -200%;
    opacity: 0;
}

section.email-us .form .alert p {
    padding: 10px;
}

section.email-us .form .alert.success {
    color: var(--green);
    border: 1px solid var(--green);
    animation: alert 500ms ease forwards running
}

section.email-us .form .alert.error {
    color: var(--red);
    border: 1px solid var(--red);
    animation: alert 500ms ease forwards running;
}

@keyframes alert {
    0% {
        left: -200%;
        opacity: 0;
    }

    100%  {
        left: 0%;
        opacity: 1;
    }
}
