/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

mark {
    background-color: transparent;
    color: inherit;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input,
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

html,
body {
    font-family: Rubik;
    color: #2D253D;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*** ***/
*::selection {
    background-color: #008448cc;
    color: white;
}

/***  BODY  ***/
body {
    background: url(../images/body-bg.png) no-repeat center;
}

/***  CONTAINER  ***/
.container {
    display: block;
    width: 100%;
}

/***  HEADER  ***/
/* logo */
header.header {
    position: absolute;
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 7%;
    z-index: 99;
}

header.header.fixed {
    position: fixed;
    z-index: 100;
    top: -70px;
    left: 0;
    right: 0;
    background: #ffffff;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px -7px 10px 0px #212121;
}

header.header .logo {
    display: inline-block;
    width: 110px;
    height: 60px;
    padding: 5px 0px 0px 0px;
}

header.header .logo img {
    display: block;
    width: 100%;
    height: auto;
}

/* navbar */
header.header nav.navbar {
    display: inline-block;
    height: 100%;
    float: right;
}

header.header nav.navbar ul {
    width: 100%;
    height: 100%;
}

header.header nav.navbar ul li {
    display: inline-block;
    line-height: 4;
    margin-right: 35px;
}

header.header nav.navbar ul li:last-child {
    margin-right: 0px;
}

header.header nav.navbar li a {
    font: 500 15px "Rubik", sans-serif;
    color: #2D253D;
    text-decoration: none;
    font-weight: 700;
    transition: color 250ms ease;
    -webkit-transition: color 250ms ease;
}

header.header nav.navbar li a:hover {
    color: #125C4B;
}

header.header nav.navbar li a.current {
    color: #007147
}

header.header nav.navbar li a.current:after {
    display: block;
    content: "";
    width: 120%;
    height: 3px;
    background: #007147;
    border-radius: 3px;
    position: relative;
    top: -20px;
    right: 10%;
}

/***  BANNER & INTRO ***/
section.banner,
section.intro {
    display: block;
    padding: 190px 7% 120px 7%;
}

section.intro {
    padding-top: 50px;
}

section.banner .title,
section.intro .introduction {
    display: inline-block;
}

section.banner .title h3 {
    display: block;
    position: relative;
    font-size: 40px;
}

section.banner .title h3:after {
    display: block;
    content: "";
    width: 420px;
    height: 3px;
    background: #2D253D;
    float: right;
    position: relative;
    top: 20px;
}

section.banner .title h1 {
    display: block;
    position: relative;
    font-size: 75px;
    font-weight: 700;
    margin: 30px 0;
}

section.banner .title p {
    display: block;
    position: relative;
    font-size: 30px;
    margin: 35px 0;
}

section.banner .title button,
section.intro .introduction button {
    display: inline-block;
    width: 130px;
    height: 45px;
    background: linear-gradient(90deg, #119955, #125C4B);
    border: 0px solid #125C4B;
    border-radius: 3px;
    color: #E0E0E0;
    font-family: Rubik;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 8px 12px -8px #125C4B;
    transition: all 150ms ease;
}

section.banner .title button:first-child,
section.intro .introduction button:first-child {
    margin-right: 25px;
}

section.banner .title button:hover,
section.intro .introduction button:hover {
    color: #125C4B;
    background: #E0E0E0;
    box-shadow: 0px 0px 0px 0px #125C4B;
}

section.banner .image,
section.intro .image {
    display: inline-block;
    float: right;
    width: 50%;
    padding: 0 5%;
}

section.intro .image {
    float: none;
}

section.banner .image img,
section.intro .image img {
    display: block;
    width: 100%;
}

section.intro .introduction {
    display: inline-block;
    float: right;
    width: 50%;
    padding: 0 5%;
}

section.intro .introduction h3 {
    font-size: 35px;
    font-weight: 700;
    margin: 35px 0;
}

section.intro .introduction p {
    font-family: "Source sans pro";
    font-size: 16px;
    text-indent: 15px;
    line-height: 1.5;
    margin-bottom: 45px;
    color: #777777;
}

/***  SERVICES & CLIENTS  ***/
section.services,
section.clients {
    display: block;
    width: 100%;
    padding: 70px 7% 120px 7%;
    overflow: hidden;
}

section.services .head,
section.clients .head {
    display: block;
    text-align: left;
}

section.services .head h3,
section.clients .head h3 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

section.services .head p,
section.clients .head p {
    font-family: "Source sans pro";
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 45px;
    color: #777777;
}

section.services .service,
section.clients .client {
    display: block;
    background: #FFFFFF;
    padding: 25px 35px;
    box-shadow: 0px 0px 4px -1px #008448;
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow 250ms ease;
}

section.services .service:hover,
section.clients .client:hover {
    box-shadow: 0px 0px 1px 0px #008448;
}

section.services .service .service-image,
section.clients .client .client-image {
    display: inline-block;
    width: 100%;
    max-height: 150px;
}

section.services .service .service-image img,
section.clients .client .client-image img {
    display: block;
    width: 100%;
    max-height: 100px;
}

section.services .service .service-discription,
section.clients .client .client-review {
    display: inline-block;
    width: 100%;
}

section.services .service .service-discription h4,
section.clients .client .client-review h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px 0 15px 0;
}

section.services .service .service-discription p,
section.clients .client .client-review p {
    color: #828282;
    text-align: center;
    font-size: 16px;
    line-height: 1.4
}

section.services .owl-carousel .owl-stage-outer,
section.clients .owl-carousel .owl-stage-outer {
    overflow: visible;
    position: relative;
}

section.services .owl-carousel .owl-nav,
section.clients .owl-carousel .owl-nav {
    display: block;
    position: absolute;
    top: -60px;
    right: 0px
}

section.services .owl-carousel .owl-nav .owl-next,
section.clients .owl-carousel .owl-nav .owl-next {
    display: inline-block;
    font-size: 45px;
    color: #008448;
}

section.services .owl-carousel .owl-nav .owl-prev,
section.clients .owl-carousel .owl-nav .owl-prev {
    display: none;
}

section.services .owl-carousel .owl-dots,
section.clients .owl-carousel .owl-dots {
    display: block;
    height: 15px;
    margin-top: 25px;
    text-align: center;
}

section.services .owl-carousel .owl-dots .owl-dot,
section.clients .owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-right: 7px;
    margin-left: 7px;
    background: #cccccc;
}

section.services .owl-carousel .owl-dots .owl-dot.active,
section.clients .owl-carousel .owl-dots .owl-dot.active {
    background: #008448;
    animation: _width 200ms ease forwards running;
}

@keyframes _width {
    0% {
        width: 15px
    }

    100% {
        width: 35px
    }
}


/* clients */

section.clients {
    padding: 70px 7% 70px 7%;
}

section.clients .client {
    background: #FFFFFF00;
}

section.clients .head {
    display: block;
    text-align: right;
}

section.clients .owl-carousel .owl-nav {
    display: block;
    position: absolute;
    top: -60px;
    left: 0px;
}

section.clients .owl-carousel .owl-nav .owl-next {
    display: none;
}

section.clients .owl-carousel .owl-nav .owl-prev {
    display: inline-block;
    font-size: 45px;
    color: #008448;
}

section.clients .client .client-image {
    width: 20%;
    height: 100%;
    max-height: 100%;
}

section.clients .client .client-image img {
    height: 100%;
    max-height: 100%;
    border-radius: 4px;
}

section.clients .client .client-review {
    display: inline-block;
    width: 70%;
    float: right;
    text-align: left
}

section.clients .client .client-review h4 {
    text-align: left;
    padding: 0px 0 15px 0;
}

section.clients .client .client-review p {
    text-align: left;
}

/***  FOOTER  ***/
footer.footer {
    display: block;
    width: 100%;
    padding: 50px 7% 50px 7%;
    overflow: hidden;
    text-align: center;
    background: #2D253D
}

footer.footer .logo {
    display: block;
    height: 100px;
    overflow: hidden;
}

footer.footer .logo img {
    height: 100%
}

footer.footer h3 {
    display: block;
    position: relative;
    color: #DCDCDC;
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0 35px 0;
}

footer.footer ul {
    margin: 20px 0;
}

footer.footer ul li {
    display: inline-block;
    margin: 0 10px;
}

footer.footer ul li a {
    display: block;
    width: 38px;
    height: 38px;
    font-size: 24px;
    color: #E0E0E0;
    line-height: 1.7;
    transition: color 150ms ease-out;
}

footer.footer ul li a:hover {
    color: #008448
}

footer.footer p {
    color: #DCDCDC
}

footer.footer p .year,
footer.footer p i.fa {
    color: #008448;
    font-weight: 700;
}

footer.footer p a {
    color: #008448;
    text-decoration: none;
    font-weight: 700;
    transition: color 150ms ease-out;
}

footer.footer p a:hover {
    color: #E0E0E0
}

/* facts */
section.facts {
    display: block;
    width: 100%;
    padding: 50px 7% 40px 7%;
    overflow: hidden;
    position: relative;
}

section.facts:after {
    display: block;
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0%;
    background: linear-gradient(90deg, #125C4B, #119955, #125C4B, #119955);
    z-index: -1;
    animation: sliding 20000ms ease-out infinite running;
}

@keyframes sliding {
    0% {
        right: 0%
    }

    50% {
        right: -50%
    }

    100% {
        right: -100%
    }
}

section.facts .head {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

section.facts .the-facts {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
}

section.facts .the-facts .fact {
    display: inline-block;
    position: relative;
    padding: 20px 40px;
    background: #ffffff;
    margin: 20px;
    border-radius: 3px;
}

section.facts .the-facts .fact h4 {
    font-size: 45px;
    font-weight: 700;
}

section.facts .the-facts .fact p {
    font-size: 17px;
    color: #333333;
    margin: 15px 0px 0px 0px;
}

/****** ABOUT PAGE ******/
section.about_banner {
    display: block;
    width: 100%;
    min-height: 500px;
    position: relative;
    background-image: url("../images/developer_activity.svg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

section.about_banner div.content {
    display: block;
    width: 100%;
    height: 500px;
    padding: 140px 7%;
    z-index: 2;
    background: #02020221
}

section.about_banner div h1 {
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 20px;
}

section.about_banner div p a {
    font: 500 21px "Rubik", sans-serif;
    color: #2D253D;
    text-decoration: none;
    font-weight: 700;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
}

section.about_banner div p a:hover {
    color: #000000;
}

section.about_banner div p .fa {
    margin: 0 10px;
    position: relative;
    top: -1px;
}

/* who am I*/
section.whoami {
    display: block;
    width: 100%;
    padding: 60px 7%;
}

section.whoami .title {
    display: block;
    width: 100%;
    text-align: center;
    padding: 25px 0;
}

section.whoami .title h1 {
    font-size: 55px;
    color: #2D253D;
    font-weight: 700;
    text-transform: uppercase
}

section.whoami div.myimage {
    display: block;
    width: 50%;
    float: right;
    overflow: hidden;
    padding: 50px;
}

section.whoami div.myimage img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 4px -1px #2D253D;
}

section.whoami div.content {
    display: block;
    width: 50%;
    float: left;
    padding: 70px;
}


section.whoami div.content h1 {
    font-size: 45px;
    color: #007940;
    font-weight: 700;
    text-transform: uppercase;

}

section.whoami div.content h5 {
    display: inline-block;
    font-size: 17px;
    color: #007940;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
    border-bottom: 2px dotted
}

section.whoami div.content p {
    color: #212121aa;
    font-size: 19px;
    text-indent: 25px;
    line-height: 1.5;
    padding: 20px 0;
}

/*** Qualifications  ***/
section.qualifications,
section.testimonials,
section.skills {
    display: block;
    width: 100%;
    padding: 60px 7%;
}

section.qualifications .head,
section.testimonials .head,
section.skills .head {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 70px
}

section.qualifications .head h1,
section.testimonials .head h3,
section.skills .head h3 {
    font-size: 55px;
    color: #2D253D;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px
}

section.qualifications .head p,
section.testimonials .head p,
section.skills .head p {
    font-size: 17px;
    color: #212121;
    line-height: 1.5
}

.qualifications ul li {
    background: #dddde0;
    position: relative;
    margin: 0 auto;
    width: 2px;
    padding-bottom: 40px;
    list-style-type: none;
}

.qualifications ul li:last-child {
    padding-bottom: 7px;
}

.qualifications ul li:before {
    content: '';
    background: #007940;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #eee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.qualifications ul li .hidden {
    opacity: 0;
}

.qualifications ul li .content {
    background-color: white !important;
    box-shadow: 0px 0px 8px -4px #2D253D;
    position: relative;
    border-radius: 3px;
    top: 7px;
    width: 360px;
    padding: 30px;
    opacity: 0;
}

.qualifications ul li .content h4 {
    padding-bottom: 10px;
    font-weight: 700;
    text-decoration: underline;
    color: #2D253D;
}

.qualifications ul li .content p {
    line-height: 1.2;
    font-size: 16px;
    margin-bottom: 5px;
}

.qualifications ul li .content p b {
    color: #007940;
    font-weight: 700;
}

.qualifications ul li:nth-child(odd) .content {
    left: 50px;
    text-align: left
}

.qualifications ul li:nth-child(odd) .content:before {
    left: -38px
}

.qualifications ul li:nth-child(even) .content {
    left: calc(-360px - 45px);
    text-align: right
}

.qualifications ul li:nth-child(even) .content:before {
    right: -38px
}

/* skills */

section.skills .tools_expert {
    width: 80%;
    margin: 0 auto
}

section.skills .tools_expert .skill_main .skill_item {
    margin-bottom: 18px;
}

section.skills .tools_expert .skill_main .skill_item:last-child {
    margin-bottom: 0px;
}

section.skills .tools_expert .skill_main .skill_item h4 {
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    color: #2D253D;
    margin-bottom: 15px;
}

.tools_expert .skill_main .skill_item .progress {
    height: 15px;
    border-radius: 7px;
    background: transparent;
    border: 1px solid #eeeeee;
    box-shadow: 0px 2px 1px -2px rgb(94, 94, 95);
}

section.skills .tools_expert .skill_main .skill_item .progress .progress-bar {
    width: 0%;
    transition: width .6s ease;
    height: 14px;
    border-radius: 7px;
    vertical-align: middle;
    align-self: center;
    background-image: -moz-linear-gradient(0deg,  #125C4B 0%, #119955  100%);
    background-image: -webkit-linear-gradient(0deg,  #125C4B 0%, #119955 100%);
    background-image: -ms-linear-gradient(0deg,  #125C4B 0%, #119955 100%);
}

/* testimonials */

section.testimonials .owl-carousel .owl-nav {
    display: block;
    width: 130px;
    position: absolute;
    top: 57px;
    left: -80px;
    transform: rotate(90deg)
}

section.testimonials .owl-carousel .owl-nav .owl-prev,
section.testimonials .owl-carousel .owl-nav .owl-next {
    display: inline-block;
    font-size: 35px;
    padding: 5px 8px;
    color: #008448;
    margin-left: 10px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #0084485c;
}

section.testimonials .owl-carousel .owl-nav .owl-prev {
    margin-left: 0px;
    margin-right: 10px;
}